In [ ]:
https://skphd.medium.com/amazon-redshift-interview-questions-and-answers-ba98591aa993
https://skphd.medium.com/amazon-redshift-interview-questions-and-answers-ba98591aa993

https://medium.com/@navin5556/mastering-aws-glue-etl-a-step-by-step-guide-to-loading-data-from-s3-to-redshift-4152be7e2922

https://github.com/navin5556/aws-glue-etl-project/tree/main

SyntaxError: invalid decimal literal (2365706228.py, line 3)

In [ ]:
MERGE INTO orders AS tgt
USING latest_orders AS src
ON tgt.order_id = src.order_id
WHEN MATCHED THEN
    UPDATE SET
        amount = src.amount,
        status = src.status
WHEN NOT MATCHED THEN
    INSERT (order_id, customer_id, amount, status)
    VALUES (src.order_id, src.customer_id, src.amount, src.status);


-- 1. UPDATE existing
UPDATE orders
SET amount = latest.amount,
    status = latest.status
FROM latest_orders AS latest
WHERE orders.order_id = latest.order_id;

-- 2. INSERT new
INSERT INTO orders (order_id, customer_id, amount, status)
SELECT latest.order_id, latest.customer_id, latest.amount, latest.status
FROM latest_orders AS latest
LEFT JOIN orders ON latest.order_id = orders.order_id
WHERE orders.order_id IS NULL;

SyntaxError: invalid syntax (3214602108.py, line 1)